.sidebar {
    width: 100px;
    background-color: #001428;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    text-align: center;
    padding: 10px 0;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-item.active {
    border-left: 4px solid white;
    background-color: #01213d;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #01213d;
    padding: 10px;
    z-index: 10;
    min-width: 150px;
}

.submenu-item {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.bottom-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.bottom-item.active {
    border-left: 4px solid white;
    background-color: #01213d;
}

.status-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 5px;
}

.ant-modal-content {
    padding: 0 !important;
}
.ant-modal-content, .ant-modal-header {
    border-radius: 0 !important;
}
.ant-modal-header {
    border-bottom: 1px solid #e5e7eb !important;
    padding: 16px 20px !important;
    margin: 0 !important;
}
.ant-modal-body {
    padding: 20px !important;
    border-bottom: 1px solid #e5e7eb !important;
}
.ant-modal-footer {
    padding: 10px 20px !important;
    margin-top: 0 !important;
}
.ant-btn {
    border-radius: 0 !important;
    font-size: 12px !important;
}
.ant-input {
    border-radius: 0 !important;
    font-size: 12px !important;
}